/* DOCUMENTO CSS */

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: serif;
	background-color: #fafafa;
}
header {
	background-color: #ff347f;
	height: 225px;
	padding-top: 25px;
	color: #fafafa ;
	text-align: center;
 }

 header figure {
 	width: 100px;
 	height: 100px;
 	background-color: #fafafa;
 	margin: 0;
 	padding: 0;
 }

 main {
 	margin: 0;
 	padding: 0;
 	display: flex;
 	justify-content: center;
 	padding: 20px;
 	flex-wrap: wrap;
 	align-content: center;

 }

 .box {width: 250px;
 	height: 500px;
 	background-color: #ff347f;
 	border-radius: 10px;
 	border: 5px double;
 	color: #f4efec;
 	padding: 10px;
 	text-align: center;
 	margin: 10px;
 }

 .box:hover{
 	box-shadow: 6px 6px 10px #a4a4a4;

 }

.box h2{margin:0 0 10px 0;
padding: 0

}

 .box figure {width: 250px;
      height: 250px;
      background-color: #f48db4;
  	margin: 0;
  	padding: 0;
  }

  .box p {

  }

footer {
	background-color: #f48db4;
	height: 70px;
	padding-top: 10px;
	color: #c9356c;
 	text-align: center;
 }

}
